@import "@/styles/imports";


.container{
    display: flex;
    flex-direction: column;
    // max-width: 70rem;
    max-width: 50rem;
    

.divider{
    width: 100%;
    height: 1px;
    background-color: #DEDFE0;
    
}


    .warning_container{
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 1rem ;
        margin-top: 2rem;
        background-color: #FFF6E5;
        border-left: 4px solid #A26B00;

        p{
            font-size: 1.4rem;
            font-weight: 400;
            color: #A26B00;
            line-height: 2rem;

            .bold{
                font-weight: 700;
                font-size: 1.4rem;
            }
        }
    }

    .key_phrase_container{
        display: grid;
        grid-template-columns: repeat(2,minmax(0,1fr));
        gap: 1rem;
        margin-top: 2rem;

        .phrase{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            padding: 1rem;
            border-radius: 0.8rem;
            font-size: 1.4rem;
            font-weight: 700;
            color: #1B1E21;
            background: #FBFBFD;
        }
    }

    .clipboard_container{
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 1rem;
        justify-content: center;
        margin-top: 2rem;

        p{
            color: #FFB30F;
            font-size: 1.4rem;
            font-weight: 700;
        }

        .icon{
            height: 1.6rem;
            width: 1.6rem;
           
            cursor: pointer;
        }
    }



        
}