@import '@/styles/imports';

.breadcrumb {
	@include flex(flex-start, center);
	margin-bottom: 2.4rem;
}

.text {
	h6,
	a {
		@extend %text-14;
	}
	h6 {
		font-weight: 600;
		font-family: $font-medium;
		text-transform: uppercase;
	}
	span {
		color: $col-grey-30;
		margin-right: 0.4rem;
		text-transform: capitalize;
	}
}
