@import "@/styles/imports";

.section {
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url("/images/pattern-background.png");
	.center {
		@extend %center;
		.title {
			text-align: center;
			max-width: 62.8rem;
			margin-bottom: 6.4rem;
			&__title {
				h1 {
					color: $col-white;
				}
			}
			&__description {
				p {
					color: $col-grey-500;
				}
			}
		}
	}
	.slider {
		width: 100%;
		padding: 9.6rem 3.2rem;
		border-radius: 1.6rem;
		background-color: $col-white;
	}
	.slide {
		@extend %center;
		.text {
			text-align: center;
			h1 {
				font-size: 4rem;
				line-height: 4rem;
				margin-bottom: 1.6rem;
			}
			h2 {
				@extend %title-34;
				color: #1b1e21;
				margin-bottom: 3.2rem;
			}
			h3 {
				@extend %text-18;
				font-weight: 700;
				margin-bottom: 0.4rem;
				text-transform: capitalize;
			}
			p {
				@extend %text-16;
				color: #4b525a;
				text-transform: capitalize;
			}
		}
		.rating {
			margin-top: 1.6rem;
		}
		.avatar {
			position: relative;
			width: 6.4rem;
			height: 6.4rem;
			margin-bottom: 1.6rem;
		}
		.quote {
			position: relative;
			width: 4rem;
			height: 3rem;
			margin-bottom: 1.6rem;
		}
	}
	@include screenMax("mobile") {
		.center {
			.title {
				max-width: 100%;
			}
		}
		.slider {
			padding: 5.6rem 3.2rem;
		}
		.slide {
			.text {
				h3 {
					font-size: 1.8rem;
				}
			}
		}
	}
}
