@import "@/styles/imports";

.container{
    max-width: 37.4rem;
    min-width: 32.4rem;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;

    .icon{
        height: 2rem;
        width: 2rem;
    }

    &__summary_container{
        padding: 2rem;
        border: 1px solid $col-border;
        border-radius: 1.6rem;

        .title{
            font-size: 1.2rem;
            font-weight: 700;
            color: #1B1E21;
            margin-bottom: 1.2rem;
            text-transform: uppercase;
        }

        .summary_item{
            @include flex;
            justify-content: space-between;
            gap: 2rem;
            margin-bottom: 1.2rem;

            h4{
                font-size: 1.4rem;
                font-weight: 400;
                color: #7B8086;
            }

            p{
                font-size: 1.4rem;
                font-weight: 700;
                color: #1B1E21;
            }
        }

    }

    
}