@import "@/styles/imports";

.card {
	width: 100%;
	background-color: #fbfbfd;
	padding: 2.4rem 2.4rem 3.2rem 2.4rem;
	border-radius: 1.6rem;
	margin-top: 3.2rem;
	.text {
		margin-bottom: 1.6rem;
		h3 {
			font-weight: 700;
			@extend %text-14;
			letter-spacing: 0.08rem;
		}
		p {
			color: #4b525a;
		}
	}
	.button {
		cursor: pointer;
		p {
			color: #ffb30f;
			text-decoration: underline;
		}
	}
}
