@import '@/styles/imports.scss';

.container{
    margin-top: 2rem;


    &__name_container{
        display: flex;
        align-items: center;
        gap: 0.5rem;
        height: 100%;

        img{
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 50%;
        }

        &__name{
            font-size: 1.4rem;
            font-weight: 600;
            color: $col-grey-1;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    
    }

    &__title{
        font-size: 2.4rem;
        font-weight: 700;
        margin-bottom: 1rem;
        color: $col-grey-1;
    }

    &__status_container{
        display: flex;
        align-items: center;
        gap: 0.5rem;
        height: 100%;
        font-weight: 400;
        font-size: 1.2rem;

        &__status{
            padding: 0.5rem;
            border-radius: 0.5rem;
            font-weight: 600;
            &[data-status="awaiting approval"]{
                background-color: #FFFAEB;
                color: #B54708;
            }
            &[data-status="completed"]{
                background-color: #ECFDF3;
                color: #027A48;
            }
            &[data-status="ongoing"]{
                background-color:#F0F9FF;
                color:#026AA2;
            }
            &[data-status="declined"]{
                background-color: #FEF3F2;
                color: #B42318;
            }

        }
    }

    &__input_filter_container{
        display: flex;
        align-items: center;
        gap: 1rem;
        margin: 2rem 0;


        .filter_icon_container{
            display: flex;
            align-items: center;
            gap: 0.5rem;
            padding: 1rem;
            border: 1px solid $col-border;
            border-radius: 0.5rem;
        
            img{
                width: 2rem;
                height: 2rem;
        
            }
        }

        &__input{
            padding: 0.5rem;
            border: 1px solid $col-grey-300;
            border-radius: 0.5rem;
            font-size: 1.2rem;
            font-weight: 400;
            color: $col-grey-1;
        }

        &__filter{
            padding: 0.5rem 1rem;
            border: 1px solid $col-grey-300;
            border-radius: 0.5rem;
            font-size: 1.2rem;
            font-weight: 400;
            color: $col-grey-1;
            background-color: $col-grey-50;
        }
    }

    

}