@import '@/styles/import.scss';


.container{
    display: flex;
    align-items: flex-start;
    gap: 2rem;
    border-radius: 1rem;
    padding: 3rem 2rem;
    border: 1px solid $col-border;
    margin-top: 2rem;
}