@import '@/styles/imports.scss';

.container{
    
    &__details{
        width: 100%;
        padding: 1rem;
        background-color: $col-white;
        border: 1px solid $col-grey-300;
        border-radius: 1.6rem;

        &__detail_container{
            display: flex;
            // align-items: center;
            justify-content: space-between;
            width: 100%;
            padding: 0 1rem;
            margin-bottom: 0.5rem;
        
        .key{
        font-size: 1.2rem;
        font-weight: 400;
        color: $col-grey-1;
    }
        
        .value{
            font-size: 1.5rem;
            font-weight: 500;
            color: $col-grey-1;
        }


        .permission_title{
            font-size: 1.6rem;
        font-weight: 700;
        color: $col-grey-1;
        display: flex;
        justify-content: flex-end;

        }

        .permissions_container{
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            .permission{
                font-size: 1.2rem;
                font-weight: 400;
            }
        }

        .super_admin{
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
    
            ul{
                list-style-type: none;
                padding: 0;
                margin: 0;
                display: flex;
                gap: 1rem;
                align-items: flex-end;
                justify-content: flex-end;
                margin-top: 1.6rem;

    
                li{
                    font-size: 1.2rem;
                    font-weight: 400;
                    color: $col-grey-1;
                }
            }
        }
}
    }
}