@import "@/styles/imports";

.container{
    padding: 4rem 3rem;
    width: 100%;

    &__categories_container{
        display: flex;
        flex-wrap: wrap;
        gap: 2.4rem;
        justify-content: flex-start;
        margin-top: 2.4rem;

        .category{
            width: 210px;
            padding: 1rem;
            border-radius: 1rem;
            box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
            transition: all 0.3s ease;
            display: flex;
            flex-direction: column;
            align-items: center;
            &:hover{
                box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
            }

            .category__image{
                width: 100%;
                height: 150px;
                border-radius: 1rem;
                overflow: hidden;

                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .category__title{
                margin-top: 1rem;
                font-size: 1.8rem;
                font-weight: 700;
                color: $col-grey-1;
                text-transform: capitalize;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                max-width: 100%;
            }

            .gears{
                color: #4B525A;
                font-size: 1.4rem;
                font-weight: 400;
            
            }

            .category__actions{
                margin-top: 1rem;
                display: flex;
                justify-content: space-between;
                align-items: center;

                
        
        }
        .button{
           background-color: transparent;
            color: #7B8086;
            font-weight: 700;
            cursor: pointer;
            transition: all 0.3s ease;
            border-color: $col-border;
            margin-top: 1rem;



     
    }
    }

}
}