@import "@/styles/imports";

.container{
    .container_top{

        .header_container{
            padding: 3rem;
            padding-bottom: 0;
        }
        
        .details_container{
        padding: 3rem;
        background: #FFFFFF;
        padding: 1.6rem;
        margin-bottom: 2rem;
        margin: 2rem 3rem;

        h2{
            color: #4B525A;
            font-size: 1.8rem;
            font-weight: 700;
        }

        h3{
            color: #4B525A;
            font-size: 1.4rem;
            font-weight: 700;
        }
        p{
            color: #4B525A;
            font-size: 1.4rem;
        }

        ul{
            list-style: disc;
            padding: 0;
            margin: 0;
            padding-left: 2rem;
            li{
                list-style: disc;
                font-size: 1.4rem;
                .bold{
                    font-weight: 700;
                    color: #1B1E21;
                }
            }
        
        }
        .details{
            color: #4B525A;
            font-size: 1.4rem;
            
            .colored_text{
                color: #FFB30F;
                font-size: 1.4rem;
                cursor: pointer;
                font-weight: 700;
                text-decoration: underline;
                text-transform: capitalize;
            
            }

            .bold{
                font-weight: 700;
                color: #1B1E21;
            }

        }
    }

    .summary_container{
        padding: 2rem;
        background-color: #fff;
        box-sizing: border-box;

        .title{
            font-size: 1.2rem;
            font-weight: 700;
            color: #A3A7AB;
            margin-bottom: 1.2rem;
            text-transform: uppercase;
        }

        .summary_item{
            @include flex;
            justify-content: space-between;
            gap: 1.6rem;
            margin-bottom: 1.2rem;


            h4{
                font-size: 1.4rem;
                font-weight: 400;
                color: #7B8086;
                white-space: nowrap;
                text-overflow:ellipsis;
                }
                
                p{
                word-wrap: break-word;
                font-size: 1.4rem;
                font-weight: 700;
                color: #1B1E21;
                white-space: nowrap;
                text-overflow:ellipsis;
            }

            .ellipse_container{
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 22rem;
            }
        }
    }
}
    .btn_container{
        @include flex;
        justify-content: flex-end;
        gap: 3rem;
        border-top: 1px solid $col-border;
        padding: 2rem;
        align-items: center;
        height: 100%;

        button{
            padding: 1.6rem 2rem;
            font-weight: 700;
        }
    }

}