/* components/PayoutForm.module.scss */
@import "@/styles/imports";

.container {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;

    .field{
        margin-top: 1.6rem;
    }

    @include screenMax("mobile"){
        padding: 1.6rem;
      }
}