@import "@/styles/imports";

.container {
	width: 100%;
	.price_card {
		width: 100%;
		background-color: #fbfbfd;
		padding: 2.4rem 2.4rem 3.2rem 2.4rem;
		border-radius: 1.6rem;
		margin-bottom: 2.4rem;
		.card_header {
			margin-bottom: 2.4rem;
		}
		.insurance_container {
			padding: 2.4rem 1.6rem;
			@include flex();
			gap: 0.8rem;
			.icon {
				position: relative;
				width: 4rem;
				height: 4rem;
			}
			.details {
				max-width: 39.1rem;
				.text {
					h3 {
						margin-bottom: 0.8rem;
					}
					p {
						color: #4b525a;
						margin-bottom: 1.6rem;
					}
					a {
						color: #ffb30f;
						text-decoration: underline;
					}
				}
			}
		}
		.input_field {
			width: 100%;
			border-radius: 0.8rem;
			padding: 1.6rem;
			background-color: #fff;
			border: 0.1rem solid #dedfe0;
			@include flex(flex-start, center);
			gap: 0.8rem;
			.icon {
				position: relative;
				width: 2rem;
				height: 2rem;
				cursor: pointer;
				.date_input {
					width: 100%;
					height: 100%;
					position: absolute;
					inset: 0;
					opacity: 0;
					cursor: pointer;
					&::-webkit-calendar-picker-indicator {
						cursor: pointer;
					}
				}
			}
			.text {
				p {
					@extend %text-14;
					color: #7b8086;
				}
			}
		}
		.buttons {
			width: 100%;
			@include flex();
			gap: 1.6rem;
			margin-top: 4rem;
			.button {
				width: 100%;
			}
		}
	}
	.ad_card {
		width: 100%;
		background-color: #1b1e21;
		border-radius: 1.6rem;
		padding: 3.2rem;
		.row {
			@include flex(flex-start, center);
			gap: 1.6rem;
			margin-top: 2.4rem;
			.small_row {
				@include flex(flex-start, center);
				gap: 0.5rem;
				.icon {
					position: relative;
					width: 2.4rem;
					height: 2.4rem;
				}
			}
		}
	}
	.text,
	.title {
		@extend %text-18;
		h1 {
			@extend %title-28;
			font-weight: 700;
		}
		h2 {
			@extend %text-20;
			font-weight: 700;
		}
		h3 {
			font-weight: 700;
			@extend %text-18;
		}
	}
	.title {
		color: $col-white;
		h1 {
			font-family: $font-good;
			margin-top: 1.6rem;
			margin-bottom: 0.8rem;
		}
		p {
		}
	}
}
