@import "@/styles/imports";

.searchBox {
	width: 100%;
	height: 6.1rem;
	padding: 2.2rem 2.5rem;
	border: 0.1rem solid rgba($col-white-dull, 0.2);
	border-radius: 0.4rem;
	transition: $all-transition;
	@include flex(center, center);
	@include screenMax("tablet") {
		width: 100%;
	}
	&:focus-within {
		border-color: $col-primary-50;
		transition: $all-transition;
	}
	.input {
		@include flex(flex-start, center);
	}
}
