@import "@/styles/imports";

.container {
	width: 100%;
	.image {
		position: relative;
		width: 100%;
		height: 24.4rem;
		overflow: hidden;
		border-radius: 0.4rem;
		margin-bottom: 1.2rem;
		.button_container {
			position: absolute;
			z-index: 1;
			left: 0.8rem;
			bottom: 0.8rem;
			.button {
				border-radius: 10rem;
				text-transform: capitalize;
				// padding: 0.4rem 1.2rem;
				padding: 0;
				width: 5.4rem;
				height: 2.4rem;
				@extend %center;
				@extend %text-14;
				&:nth-child(2) {
					margin-top: 0.8rem;
				}
			}
			&[data-active="true"] {
				.button {
					&:first-child {
						background: unset;
						background-color: #072ac8;
						color: #ffffff;
					}
				}
			}
		}
	}
	.text {
		max-width: 90%;
		margin-bottom: 0.8rem;
		h2,
		h3,
		p {
			@extend %text-20;
			font-weight: 700;
			color: #1b1e21;
		}
		h3 {
			font-weight: 600;
		}
		p {
			@extend %text-14;
			text-transform: capitalize;
		}
		span {
			@extend %text-16;
			color: #4b525a;
		}
	}
	.pricing_container {
		margin-bottom: 1.6rem;
		@include flex();
		gap: 0.8rem;
		.pricing {
			padding: 0.2rem 0.8rem;
			border-radius: 10rem;
			background: $orange-grad;
			color: #1b1e21;
			p {
				font-weight: 700;
			}
			span {
				font-weight: 400;
			}
			&:nth-child(2) {
				background: unset;
				background-color: #072ac8;
				color: #ffffff;
			}
		}
	}
	.small_row {
		@include flex(flex-start, center);
		gap: 0.8rem;
	}
	.row {
		@include flex(space-between, center);
	}
	.chevron {
		position: relative;
		width: 1.6rem;
		height: 1.6rem;
		rotate: -30deg;
	}
	.avatar {
		position: relative;
		width: 3.2rem;
		height: 3.2rem;
		overflow: hidden;
		border-radius: 50%;
		border: 0.1rem solid #dedfe0;
	}
	.verified {
		position: relative;
		width: 2.4rem;
		height: 2.4rem;
	}
	@include screenMax("mobile") {
		.text {
			h2,
			h3 {
				font-size: 1.6rem;
				line-height: 2rem;
			}
			span {
				font-size: 1.4rem;
			}
		}
	}
}
