
@import '@/styles/imports.scss';
.container{
    display: none;

    @include screenMax("mobile"){
    display: flex;
    position: fixed;
    bottom: 5rem;
    right: 2rem;
    height: 5.6rem;
    width: 5.6rem;
    border-radius: 50%;
    background: linear-gradient(145deg, #FFB30F, #EDCB00);
    display: flex;
    align-items: center;
    justify-content: center;

    .add_icon{
        width: 2.4rem;
        height: 2.4rem;
    }
}
}