@import "@/styles/imports";

.modal_container {
	position: fixed;
	z-index: 12;
	inset: 0;
	width: 100%;
	height: 100vh;
	overflow-y: hidden;
	background-color: rgba(27, 30, 33, 0.5);
	cursor: default;
	display: none;
	&[data-active="true"] {
		@include flex(center, center, column);
	}
	.modal {
		min-width: 40rem;
		min-height: 30rem;
		max-height: 90vh;
		background-color: $col-white;
		border-radius: 1.6rem;
		padding: 4rem;
		.header {
			position: relative;
			margin-bottom: 2.4rem;
			.title {
				h4 {
					@extend %text-16;
					font-weight: 600;
				}
			}
			.closeModal_container {
				position: absolute;
				// top: 2rem;
				right: 0;
				top: 0;
				// background-color: $col-primary-lighten1;
				width: 2.4rem;
				height: 2.4rem;
				@extend %center;
				.closeModal {
					min-width: auto;
					min-height: auto;
					width: 1.4rem;
					height: 1.4rem;
					position: relative;
					transition: all 0.3s linear;
					cursor: pointer;
					span {
						height: 1.4rem;
						width: 0.2rem;
						border-radius: 25%;
						background-color: black;
						transform: rotate(45deg);
						display: block;
						// position: absolute;
						// left: 0;
						padding: 0;
						margin-left: 0.4rem;
					}
					span:last-child {
						transform: rotate(-45deg);
						margin-top: -1.4rem;
						// left: 1rem;
					}
				}
			}
		}
	}
}
