@import "@/styles/imports";

.section {
	.title {
		max-width: 73.7rem;
		margin-bottom: 6.4rem;
	}
	.row {
		@include flex(space-between);
		.image {
			position: relative;
			width: 62.8rem;
			height: 57.1rem;
		}
		.box_container {
			width: 62.8rem;
			.box {
				width: 100%;
				padding: 1.6rem 3.2rem;
				border-left: 0.4rem solid #dedfe0;
				cursor: pointer;
				a {
					@include flex(flex-start, center);
					margin-top: 2rem;
					h6 {
						@extend %text-16;
						font-weight: 700;
						background: $orange-grad;
						-webkit-background-clip: text;
						-webkit-text-fill-color: transparent;
					}
					.icon {
						position: relative;
						width: 1.6rem;
						height: 1.6rem;
						margin-left: 0.8rem;
					}
				}
				&[data-active="true"] {
					border-left-color: #ffb30f;
				}
			}
		}
	}
	@include screenMax("tablet") {
		.row {
			justify-content: center;
			.box_container {
				width: 100%;
			}
			.image {
				margin-top: 4.4rem;
			}
		}
	}
	@include screenMax("mobile") {
		.row {
			.image {
				width: 100%;
				height: 31.1rem;
				margin-top: 2.4rem;
			}
		}
	}
}
