@import "@/styles/imports";

.hero {
	width: 100vw;
	min-height: 100dvh;
	position: relative;
	background-color: #060606;
	left: 0;
	padding: 14.4rem 8rem 6.8rem;
	display: grid;
	place-items: center;
	.hero_image_container {
		position: absolute;
		right: 0;
		top: 0;
		height: 100%;
		width: 62.4rem;
		z-index: 0;
		.hero_image {
			position: relative;
			width: 100%;
			height: 100%;
		}
	}
	.center {
		z-index: 1;
		position: relative;
		width: 100%;
	}
	.search {
		width: 95.4rem;
		position: relative;
		margin-top: 4rem;
		margin-bottom: 5.6rem;
	}
	.text {
		max-width: 64rem;
		h1,
		span {
			@extend %title-56;
			font-family: $font-good;
			color: $col-white;
			margin-bottom: 0.8rem;
		}
		p {
			@extend %text-18;
			color: $col-grey-500;
		}
	}
	.cta_text {
		div {
			@extend %title-56;
			font-family: $font-good;
			background: $orange-grad;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			text-align: center;
		}
	}
	.row {
		@include flex();
	}
	.textbox {
		padding: 1.2rem 2.4rem;
		h2 {
			@extend %title-34;
			color: $col-white;
		}
		p {
			color: $col-grey-500;
		}
		&:first-child {
			padding-left: 0;
		}
		&:not(:last-child) {
			border-right: 0.1rem solid #38393a;
		}
	}

	@include screenMax("tablet") {
		display: grid;
		place-items: center;
		padding: 1.6rem;
		.search {
			width: 100%;
		}
		.text {
			max-width: 100%;
		}
		.hero_image_container {
			width: 50rem;
		}
		.row {
			justify-content: center;
		}
	}
	@include screenMax("mobile") {
		padding: 8rem 1.7rem 0;
		.search {
			width: 100%;
		}
		.hero_image_container {
			// all: unset;
			position: static;
			margin-top: 4rem;
			width: calc(100% + 4.8rem);
			// width: 100vw;
			margin-left: -1.6rem;
			height: 48rem;
			z-index: 1;
		}
		.row {
			display: block;
		}
		.text {
			max-width: 85%;
		}
		.textbox {
			width: 100%;
			text-align: center;
			max-width: unset;
			padding-right: 0;
			padding-left: 0;
			h2 {
				font-size: 2.4rem;
				line-height: 3.2rem;
			}
			p {
				font-size: 1.2rem;
			}
			// display: grid;
			// place-content: center;
			&:not(:last-child) {
				border-right: none;
			}
		}
		.search {
			margin-bottom: 2.4rem;
		}
	}
	@include screenMax("ssm-mobile") {
		.text {
			max-width: 98%;
		}
	}
}
