/* components/PayoutForm.module.scss */
@import "@/styles/imports";

.container {

    &__form_container{

        &__form{
            display: grid;
            gap: 2rem;

            .flex_fields{
                display: flex;
                align-items: center;
                gap: 1.6rem;
                width: 100%;
            }

            .field{
                width: 100%;
            }

            .upload_box{
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 1rem;
                flex-direction: column;
                border: 2px dashed #ccc;
                border-radius: 4px;
                padding: 1rem;
                width: 100%;
                height: 25.5rem;

                .rotate_icon{
                    transform: rotate(90deg);
                    border: 1px solid #DEDFE0;
                    padding: 1rem;
                    border-radius: 50%;
                }

                .click_to_upload{
                    font-size: 1.6rem;
                    color: #FFB30F;
                    font-weight: 500;
                }
            }

        }

        .documents_container{
            display: flex;
            gap: 1rem;
            margin-top: 4rem;
            flex-direction: column;
        }

    }

 
}
