@import '@/styles/imports';

.container{
    position: absolute;
    top: 4rem;
    right: 0.8rem;
    background: $col-white;
    border-radius: 1rem;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    z-index: 4;
    min-width: 17.8rem;

    &__edit, &__delete,&__status_container{
        padding: 1rem;
        font-size: 1.4rem;
    }

    &__status_container{
        border: 1px solid $col-border;
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    &__delete{
        color: $col-error;
    }

}