@import '@/styles/imports';

.container{
    background: $col-white;
    border-radius: 1rem;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    z-index: 5;
    width: 17.8rem;
    transition: all 0.3s ease-in-out;
    // transform: translateX(-3rem);

    &__edit, &__delete,&__status_container{
        padding: 0.7rem;
        font-size: 1.3rem;
    }

    &__status_container{
        // border: 1px solid $col-border;
        display: flex;
        align-items: center;
        gap: 1rem;
    }
    
    .item{
        border-bottom: 1px solid $col-border;
    }

    .status, .switch{
        font-size: 1.3rem;
    }

    &__delete{
        color: $col-error;
    }

    @include screenMax("mobile"){
        width: 15rem;
    }

}