@import "@/styles/imports";

.navbar_container {
  padding: 3rem;
  height: 10rem;
  border-bottom: 1px solid $col-border;
  display: flex;
  align-items: center;
  gap: 2.5rem;
  width: 100%;
  box-sizing: border-box;
  position:relative;

  .icons_container {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;

    .search_icon {
      
      @include screenMax("mobile") {
        display: flex;
      }
    }

    .menu_icon {
      display: none;
      @include screenMax("mobile") {
        display: flex;
      }
    }

    .mob_buttons{
      display: none;

      .small_icon{
        padding: 0;
        height: 100%;
        display: flex;
        align-items: center;
      }

      .circle_border{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 3.5rem;
        width: 3.5rem;
        border-radius: 50%;
        border: 1px solid $col-border;
        padding: 0.7rem;
      }

      @include screenMax("mobile"){
        display: flex;
        align-items: center;
        gap: 2rem;

      }
    }
  }

  .logo_icon {
    display: none;
    @include screenMax("mobile") {
      display: flex;
    }
  }

  @keyframes slide-down {
    from {
      transform: translateY(-100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .input_container {
    display: flex;
    width: 100%;

    .close{
      display: none;
      @include screenMax("mobile") {
        display: flex;
        color: $col-error;
        font-size: 1.6rem;
      }
    }

    @include screenMax("mobile") {
      position: absolute;
      left: 0;
      top:0;
      width: 100%;
      z-index: 4;
      background-color: $col-white;
      height: 8rem;
      align-items: center;
      padding: 1rem;
      gap: 1.6rem;
      animation: slide-down 0.5s ease-out forwards;
      display: none;

      &[data-show="true"] {
        display: flex;
      }

      .search_field{
        border-radius: 50%;
        &[data-focus="true"] {
          border-color: $col-warning;
        }
      }
    }

  }

  &__details {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    background: $col-profile-container-bg;
    border-radius: 50px;
    padding: 1rem;
    width: auto;
    flex-shrink: 0;

    .name {
      font-size: 1.5rem;
      display: flex;
      flex-wrap: nowrap;
      color: $col-high-emphasis-text;
      font-weight: 600;
    }

    .avatar {
      height: 4rem;
      width: 4rem;
      object-fit: cover;
      border-radius: 50%;
      border: 1px solid $col-border;

      img {
        border-radius: 50%;
      }
    }

    @include screenMax("mobile") {
      display: none;
    }
  }



  @keyframes slide-out {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  .sidemenu_container{
    display: none;

    @include screenMax("mobile") {
    display: block;
    position: fixed;
    top: 0;
    left:0;
    background: $col-white;
    width: 100%;
    height: 100vh;
    animation: slide-out 0.4s ease-out forwards;
    z-index: 5;
  }
}

  @include screenMax("mobile") {
    justify-content: space-between;
    padding: 1.6rem 1.5rem;
    height: 8rem;
  }


}
