@import "@/styles/imports";

.container {
	border: 0.1rem solid #dedfe0;
	border-radius: 0.8rem;
	padding: 1.2rem 1.6rem;
	@include flex(space-between, center);
	gap: 1.6rem;
	position: relative;
	margin-bottom: 1.6rem;
	.small_row {
		@include flex(flex-start, center);
		gap: 1.6rem;
		.icon {
			width: 3.2rem;
			height: 3.2rem;
			position: relative;
		}
	}
	.button {
		position: relative;
		width: 3.2rem;
		height: 3.2rem;
		rotate: 45deg;
	}
	.switch {
		position: relative;
		display: inline-block;
		width: 3.9rem;
		height: 2.6rem;
		border-radius: 1.6rem;
		// overflow: hidden;
	}

	.switch input {
		opacity: 0;
		width: 0;
		height: 0;
	}

	.slider {
		position: absolute;
		cursor: pointer;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #fff;
		border: 0.1rem solid #f0f0f1;
		-webkit-transition: 0.4s;
		border-radius: 1.6rem;
		transition: 0.4s;
	}

	.slider:before {
		position: absolute;
		content: "";
		height: 2.1rem;
		width: 2.1rem;
		left: 0.1rem;
		top: 0.077rem;
		border: 0.1rem solid #dedfe0;
		background-color: #f0f0f1;
		-webkit-transition: 0.4s;
		transition: 0.4s;
		border-radius: 50%;
	}

	input:checked + .slider {
		background-color: #ffeaba;
	}

	input:checked + .slider:before {
		-webkit-transform: translateX(1.3rem);
		-ms-transform: translateX(1.3rem);
		transform: translateX(1.3rem);
		background: $orange-grad;
		transition: 0.4s;
	}
	.text {
		p {
			color: #1b1e21;
		}
	}
}
