@import "@/styles/imports";

.wrapper{
   
.sidebar_container {
    background-color: $col-white;
    box-sizing: border-box;
    height: auto;
    display: flex;
    flex-direction: column;
    width: 20rem;
    
    
    .navlinks_container {
        display: flex;
            flex-direction: column;
            padding: 1rem 0;
            

            &__item {
                border-left: 3px solid $col-border;
                display: flex;
                gap: 1rem;
                align-items: center;
                padding: 1rem;
                cursor: pointer;
                box-sizing: border-box;


                &[data-active='true'] {
                    background: $col-active-nav-bg;
                    font-weight: 700;
                    border-left: 4px solid $col-orange;
                }

                .icon {
                    height: 2.4rem;
                    width: 2.4rem;
                }

                .title {
                    font-size: 1rem;
                    color: $col-high-emphasis-text;
                    font-weight: 600;
                }

                .logout_text {
                    color: $col-error;
                }

            }

    }

}

}