@import "@/styles/imports";

.wrapper{
   
.sidebar_container {
    box-sizing: border-box;
    height: auto;
    display: flex;
    flex-direction: column;
    width: 20rem;
    
    
    .navlinks_container {
        display: flex;
        flex-direction: column;
        padding: 0;
        
        &__item {
            display: flex;
            gap: 1rem;
            align-items: center;
            padding: 1rem;
            cursor: pointer;
            box-sizing: border-box;
            border-left: 3px solid $col-border;
            color: #4E5054;
            padding-right: 4rem;


            &[data-active='true'] {
                background: $col-active-nav-bg;
                border-left: 4px solid $col-orange;
                
                h2{
                    font-weight: 700;

                }
                
            }

            .icon {
                height: 2rem;
                width: 2rem;
            }

            .title {
                font-size: 1.4rem;
                
            }

            .description{
                font-size: 1.4rem;
            }

            .logout_text {
                color: $col-error;
            }

        }

}

}

}