@import "@/styles/imports";

.section {
	padding-top: 13.8rem !important;
	background-color: #fbfbfd;

	.breadcrumb_container{
		margin-bottom: 2rem;
		color: #1B1E21;
		font-size: 1.6rem;

		.items_count,.category_name{
			font-weight: 700;
		}
	}
	.section_grid {
		// @include grid(30.2rem 1fr);
		@include flex();
		width: 100%;
		gap: 2.4rem;
		position: relative;
		.block {
			display: block;
			width: calc(100% - 32.6rem);
			.grid {
				// @include grid(repeat(3, 1fr), 2.4rem);
				width: 100%;
				@include flex();
				row-gap: 3.2rem;
				column-gap: 2.4rem;
				margin-top: 3.2rem;
			}
		}
	}
	.row {
		@include flex(space-between, center);
		.nav_button {
			@include grid(repeat(2, 1fr), 0.8rem);
			border: 0.2rem solid #dedfe0;
			border-radius: 10rem;
			width: 25.7rem;
			padding: 0.4rem;
			.button_container {
				padding: 0;
				.button {
					padding: 1.2rem 4rem;
					color: #4b525a;
					border-radius: 10rem;
					width: 100%;
					font-weight: 400;
					&[data-active="true"] {
						background: $orange-grad;
						color: #1b1e21;
						font-weight: 700;
					}
				}
			}
			@include screenMax("mobile") {
				margin: 2.4rem 0;
				width: 100%;
			}
		}
		.show_button {
			border: 0.1rem solid #dedfe0;
			border-radius: 10rem;
			padding: 1.6rem;
			@include flex(flex-start, center);
			gap: 1.2rem;
			.text {
				h3 {
					font-weight: 700;
					@extend %text-16;
					color: #4b525a;
				}
			}
			.switch {
				position: relative;
				display: inline-block;
				width: 3.9rem;
				height: 2.6rem;
				border-radius: 1.6rem;
				// overflow: hidden;
			}

			.switch input {
				opacity: 0;
				width: 0;
				height: 0;
			}

			.slider {
				position: absolute;
				cursor: pointer;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background-color: #fff;
				border: 0.1rem solid #f0f0f1;
				-webkit-transition: 0.4s;
				border-radius: 1.6rem;
				transition: 0.4s;
			}

			.slider:before {
				position: absolute;
				content: "";
				height: 2.1rem;
				width: 2.1rem;
				left: 0.1rem;
				top: 0.077rem;
				border: 0.1rem solid #dedfe0;
				background-color: #f0f0f1;
				-webkit-transition: 0.4s;
				transition: 0.4s;
				border-radius: 50%;
			}

			input:checked + .slider {
				background-color: #ffeaba;
			}

			input:checked + .slider:before {
				-webkit-transform: translateX(1.3rem);
				-ms-transform: translateX(1.3rem);
				transform: translateX(1.3rem);
				background: $orange-grad;
				transition: 0.4s;
			}
		}
	}
	.card {
		width: 30.2rem;
	}
	&[data-hidden="true"] {
		.row {
			margin-left: 13.3rem;
		}
	}
	@include screenMax("mobile") {
		padding-top: 10rem !important;
		.desk_breadcrumb {
			display: none;
		}
		.row {
			width: 100%;
			flex-direction: column;
			margin-left: 0 !important;
			align-items: flex-end;
			.nav_button {
				width: 100%;
				background-color: $col-white;
			}
			.show_button {
				border: none;
			}
		}
		.card {
			width: 100%;
		}
		.section_grid {
			.block {
				width: 100%;
			}
		}
	}
}
