@import '@/styles/imports.scss';


.container{
    display: flex;
    align-items: flex-start;
justify-content: space-between;

    &__type{
        font-size: 1.2rem;
        font-weight: 400;
        color: $col-grey-1;
    
        &__value{
            font-size: 1.5rem;
            font-weight: 500;
            color: $col-grey-1;
        }
    }
}