@import "@/styles/imports";

.container {
	display: block;
	position: relative;
	padding-left: 3rem;
	margin-bottom: 2.5rem;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	@extend %text-16;
	color: #1b1e21;
	text-transform: capitalize;

	

	input {
		position: absolute;
		opacity: 0;
		cursor: pointer;
		height: 0;
		width: 0;
	}
	.checkmark {
		position: absolute;
		top: 0.2rem;
		left: 0;
		height: 2.4rem;
		width: 2.4rem;
		background-color: $col-white;
		border: 0.2rem solid #8c9196;
		border-radius: 50%;
		transition: $all-transition;
	}
	
}

.container input:checked ~ .checkmark {
	// background: $orange-grad;
	border: none;
	// background: linear-gradient(0deg, #d1fdff 0%, #fddb92 100%);
	cursor: not-allowed;
	opacity: 0.5;
	pointer-events: none;
	background: #E3E6E9;

	&[data-active="true"] {
		background: #FFC107;
	}
	&[data-active="false"] {
		background: #E3E6E9;
	}

	
}

.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

.container input:checked ~ .checkmark:after {
	display: block;
}

.container .checkmark:after {
	left: 0.8rem;
	top: 0.5rem;
	width: 0.6rem;
	height: 0.9rem;
	border: solid $col-white;
	border-width: 0 0.3rem 0.3rem 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
