@import "@/styles/imports";

.container {
	padding: 4rem 3rem;

	&__header_container {
		display: flex;
		align-items: center;
		gap: 2rem;

		&__item {
			display: flex;
			align-items: flex-start;
			margin-bottom: 3rem;
			flex-direction: column;
			gap: 4rem;
			border: 1px solid $col-border;
			padding: 1.6rem 2rem;
			border-radius: 2rem;
			width: 50%;

			p {
				font-size: 1.4rem;
				color: #a3a7ab;
			}

			h3 {
				font-size: 2.8rem;
				color: $col-grey-1;
				font-weight: 700;
			}

			.btn_container {
				display: flex;
				gap: 1.6rem;
				align-items: center;
				
				.btn {
					display: flex;
					align-items: center;
					gap: 0.5rem;
					padding: 1rem 2rem;
					
					.icon {
						height: 2rem;
						width: 2rem;
					}
				}

				@include screenMax("mobile") {
					justify-content: space-between;
					width: 100%;
					gap: 1.6rem;

					.btn{
						width: 100%;
					}
				}
			}
		}

		.pending_requests {
			background-color: #ffb30f;

			.title {
				color: #121212;
				font-size: 2rem;
				font-weight: 700;
			}

			.description {
				color: #1b1e21;
				font-size: 1.4rem;
				font-weight: 400;
			}

			button {
				background: #1b1e21;
				color: $col-white;
				padding: 1rem 2rem;
				display: flex;
				gap: 1rem;
			}

			@include screenMax("mobile") {
				

				button {
					width: 100%;
					
				}
			}
		
		}

		.no_requests {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 4rem;
		}

		@include screenMax("mobile") {
			flex-direction: column;
			gap: 1.6rem;

			&__item {
				width: 100%;
				margin-bottom: 1rem;
			}
		}
	}

	&__cards_container {
		display: flex;
		gap: 2rem;
		flex-wrap: wrap;
		margin-top: 2rem;

		&__item {
			display: flex;
			width: 100%;
			justify-content: space-between;
			padding: 2rem 1rem;

			&__left {
				display: flex;
				align-items: center;
				gap: 1rem;
				flex: 1 1 0;

				.icon_container {
					height: 4.8rem;
					width: 4.8rem;
				}

				.title {
					font-size: 1.4rem;
					color: $col-low-emphasis-text;
				}

				.amount {
					font-weight: 700;
					color: $col-grey-1;
					font-size: 2.8rem;
				}
			}

			&__right {
				display: flex;
				align-items: flex-end;

				.percentage {
					background-color: #f2f4f7;
					padding: 0.05rem 0.4rem;
					display: flex;
					align-items: center;
					gap: 0.5rem;
					font-size: 1.2rem;
					border-radius: 1rem;
					font-weight: 700;
				}
			}
		}
	}

	.table_section {
		margin-top: 4rem;
	}

	@include screenMax("mobile") {
		padding: 2rem 1rem;
	}

}
