@import "@/styles/imports";

.section {
	background-color: #fbfbfb;
	.title {
		max-width: 73.7rem;
		margin-bottom: 6.4rem;
	}
	.row {
		@include grid(repeat(4, 1fr), 2.4rem, 3.2rem);
		.box {
			width: 100%;
			.image {
				position: relative;
				width: 100%;
				height: 19.1rem;
				margin-bottom: 1.6rem;
			}
			.small_title {
				@include flex(space-between, center);
				h3 {
					font-size: 2rem;
					text-transform: capitalize;
					font-family: $font-good;
				}
				.icon {
					position: relative;
					width: 1.6rem;
					height: 1.6rem;
					rotate: -30deg;
				}
			}
		}
	}
	@include screenMax("mobile") {
		.title {
			margin-bottom: 5rem;
		}
		.row {
			@include grid(repeat(2, 1fr), 2rem, 2.4rem);
			.box {
				.image {
					height: 15rem;
				}
				.small_title {
					h3 {
						font-size: 1.8rem;
						line-height: 2.4rem;
					}
				}
			}
		}
	}
}
